*{
    margin:0;
    padding:0;
    }

@media screen and (min-width:200px) {  
    
    body{
        background-color: green;

        section{
            background-image: url(https://previews.123rf.com/images/thepixel/thepixel1502/thepixel150200162/36519707-top-view-of-soccer-field-or-football-field.jpg);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            align-items: center;
            justify-content: center;
            
            

            .card{
                color:#fff;
                display: inline-block;
                width: 300px;
                padding: 1em;
                border-radius: 15px;  
                margin: 10px;
                //background: #ddd;
                text-align: center;
                border: 5px solid #fff;
                background-repeat:no-repeat;
                background-size: cover;
                h1{
                    margin: 1rem;
                    border-bottom: 0.5px dotted #fff;
                }
                img {
                    max-height: 150px;
                    margin: auto;
                    display: inline-block;
                }
                .Title{
                text-align: center;
                font-size: 1.5em;    
                font-weight: 700;
                letter-spacing: 0.02em;
                }
                p{
                    margin: 1em 0;
                    text-align: center;
                    font-weight: 300;
                }
            }
        }
    }
}
