*{
    margin:0;
    padding:0;
    }
header{
    text-align: center;
    color:#fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
body{
    visibility: hidden;
}
@media only screen and (min-width:200px) {  
    
    body{
        background-color: green;
        background-image: url(https://previews.123rf.com/images/thepixel/thepixel1502/thepixel150200162/36519707-top-view-of-soccer-field-or-football-field.jpg);
        background-repeat: no-repeat;
        background-position:center;
        background-size: cover;
        
        
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            .row{
                margin: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
           
            .text-container{
                visibility: hidden;
            }
            .card:hover .text-container{
                visibility: visible;
            }
            
            

            .card{
                color:#fff;
                display: inline-block;
                max-width: 18rem;
                padding: 1em;
                border-radius: 15px;  
                margin: 10px;
                text-align: center;
                border: 5px solid #fff;
                background-repeat:no-repeat;
                background-size: cover;
                background-position: center;
                h1{
                    margin: 1rem;
                    border-bottom: 0.5px dotted #fff;
                }
                img {
                    max-height: 150px;
                    margin: auto;
                    display: inline-block;
                    z-index: 1;
                }
                .Title{
                text-align: center;
                font-size: 1.5em;    
                font-weight: 700;
                letter-spacing: 0.02em;
                color: #fff;
                text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                }
                p{
                    margin: 1em 0;
                    text-align: center;
                    font-weight: 300;
                    color: #fff;
                    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
                }
            }
        }
    }
}

@media only screen and (min-width: 767px) {
   body {
        section{
            
            .row{
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
            }
            .sub{
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}

